<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ICompositePortBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/composite" binding="basicHttpBinding" bindingConfiguration="ICompositePortBinding" contract="CompositeService.IComposite" name="ICompositePort"/>
        </client>
    </system.serviceModel>
</configuration>
